body div {
  font-family: Arial, Helvetica, sans-serif;
  background-color: aliceblue;
  margin: 20px;
  border-radius: 8px;
  width: 380px;
  padding: 20px;
  padding-right: 10px;
  box-shadow: 0px 7px 10px rgba(77, 76, 76, 0.653);
  background-image: url('images/download\ \(4\).jpg');
}

body div h2{
    padding-left: 100px;
    padding-top: 30px;
    background-image: url('images/Random\ Letter\ Wallpaper.jpg');
    border-radius: 10px;
    width: 70%;
    height: 60px;
    color: white;
    font-size: xx-large;
    
}

body div span{
 font-weight: 800;
}

div ul li{
  line-height: 1.6;
}

div ul li span{
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
  padding-left: 10px;
}

div ul li:hover {
    transform: translate(-10px);
    font-weight: bold;
    transition: 0.4s ease;
    

}

div ul li:hover span{
    opacity: 1;
}
